/* Reset margin, padding, and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* White background */
  font-family: 'Arial', sans-serif;
}

.coming-soon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo {
  width: 150px; /* Adjust size as needed */
  height: auto;
  margin-top: 20px;
  object-fit: cover;
}

#coming-soon-text {
  font-size: 48px;
  color: #000000; /* Black text */
  letter-spacing: 2px;
  text-align: center;
  margin-top: 40px; /* Adds some space between the logo and the text */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  animation: blink 0.7s step-end infinite; /* Typing cursor effect */
  border-right: 4px solid #000000; /* Simulates typing cursor */
  padding-right: 5px;
}

/* Typing cursor blink animation */
@keyframes blink {
  0% {
    border-color: #000000;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: #000000;
  }
}
